/* photo detail view */
.photo {
  display: inline-block;
  max-width: 40%;
  border: 12px solid #fff;
  border-bottom-width: 42px;
  box-shadow: 10px 10px 35px #ccc;
  transform: rotate(3deg);

  .btn {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .photo {
    max-width: 80%;
  }
}
