/* photo upload view */
.content {
  input {
    border: 1px solid #ddd;
    margin: auto;
    display: inherit;
    cursor: pointer;
    padding: 1em;
    background: #ebebeb;
    font-size: 16px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    line-height: 1;
    width: 50%;

    &:hover {
      border-color: #70425B;
    }
  }
}

@media only screen and (max-width: 420px) {
  .content {
    input {
      width: 90%;
    }
  }
}